unixFileOutput/unixFileOutput.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://digital2.library.unt.edu/unixFileOutput.xsd"
    xmlns="http://digital2.library.unt.edu/unixFileOutput.xsd"
    elementFormDefault="qualified">

<xs:element name="unixFileOutput">
  <xs:complexType>
    <xs:all>
      <xs:element name="identifier" type="xs:string"/>
      <xs:element name="version" type="xs:string"/>
      <xs:element name="output" type="xs:string"/>
      <xs:element name="mimeType" type="xs:string"/>
      <xs:element name="magicLocation" type="xs:string"/>
    </xs:all>
  </xs:complexType>
</xs:element>

</xs:schema>
